.nav {
    ul {
        list-style-type: none;
        display: flex;
    }
}


@media (max-width: $small) {
    .nav{
        ul{
            flex-direction: column;
            align-items: center;
        }
    }
}