.pre-footer-block {}

@media (max-width: $small) {
    .pre-footer-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;

    }
}