.question-item{
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    padding: 27px 0 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}